* {
  padding: 0;
  margin: 0;
  font-family: sans;
}

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
.spacer {
        /* padding-left: 1em; */
        /* width: 51.3ch; */
        width: calc(100% - 2em);
        margin: 1em;
}

.logo {
    font-family: 'Old Standard TT', serif;
    font-size: xxx-large;
    padding-bottom: 0.3em;
    font-weight: bold;
}

.sublogo {
        font-family: 'Old Standard TT', serif;
        text-align-last:justify;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        font-weight: bold;
        color: #7ca714;
}

.summary {
        font-family: 'Old Standard TT', serif;
        padding-top: 1em;
        text-align: justify;
}

.summary > ul {
        padding-top: 1em;
        padding-left: 3em;
        padding-bottom: 1em;
}

.summary > ul > li {
        font-family: 'Old Standard TT', serif;
        font-style: italic;
        text-align: left;
}

.ossHead {
        padding-top: 1em;
        padding-bottom: 0.5em;
}

.summaryHead {
        padding-bottom: 0.5em;
}

.chartItemA {
    background-color: #e9e9e9;
    color: #000000;
    margin-top: 0.5em;
    font-weight: bold;
    /* text-transform: capitalize; */
    border-radius: 0.2em;
    width: fit-content;
    padding-right: 0;
    border: 1px solid #d9cb43;
}

.price {
    margin-left: 2em;
    padding: 0.3em;
    background: #b25212;
    color: #ffedf3; 
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    float: right;
    /* margin-top: -0.3em; */
}

.headA {
        padding: 0.3em;
        display: inline-block;
}

p {
        font-family: 'Old Standard TT', serif;
        text-align: justify;
        padding-bottom: 0.4em;
}

.contact {
        margin-bottom: 2em;
}

.emailInput {
        width: 100%;
        border-right: 1px solid #d9cb43;
        border-left: 1px solid #d9cb43;
        border-top: 1px solid #d9cb43;
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em;
        border-bottom: none;
        padding: 0.5em;
        font-family: monospace;
        font-size: 1em;
}

.messageArea {
        padding: 0.5em;
        width: 100%;
        border: 1px solid #d9cb43;
        border-bottom-left-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        height: 8em;
        font-size: 1em;
}

.sendButt {
    background: #b25212;
    text-align: center;
    padding: 0.5em;
    color: #ffefe8;
    margin-top: 1em;
    border-radius: 0.2em;
    font-family: sans-serif;
    border: 1px solid #762020;
    cursor: pointer;
    margin-bottom: 3em;
    font-weight: bold;
}

.sendButt:hover {
    background: #df7026;
}

.leftFootHead, .rightFootHead {
        color: black;
        font-size: 0.8em;
        font-weight: bold;
        text-decoration: underline;
}

@media screen and (orientation:landscape)  {
        .spacer {
                max-width: 40%;
                margin-left: 30%;
        }
        .sublogo {
        }

        .summary {
        }

}

.footer {
        border-bottom: 0.5em solid black;
        width: 100%;
        /* text-align: center; */
        color: #7ca714;
}

.footer > div {
        /* display: inline-flex; */
}

.leftFoot {
        float: left;
        /* width: 30ch; */
}

.leftFoot > ul, .rightFoot > ul {
        display: block;
}

.leftFoot > ul > li, .rightFoot > ul > li {
        display: block;
        list-style-type: none;
        color: #7ca714;
        text-decoration: underline;
        font-size: 0.74em;
}

.rightFoot {
        text-align: right;
        float: right;
        /* min-width: 30ch; */
        /* display: inline; */
}

.middleFoot {
        font-size: 5em;
        text-align: center;
}

.underfoot {
        border-bottom: 0.5em solid #859728;
        padding-top: 1em;
}

.phone {
        border: 1px solid #d9cb43;
        padding: 0.5em;
        border-radius: 0.4em;
        margin-bottom: 1em;
        text-align: center;
        background-color: #ececec;
}

/* .phoneIcon { */
/*         border: 0.5em solid #7ca714; */
/*         padding: 0.5em; */
/*         margin: 0.5em; */
/*         border-radius: 0.4em; */
/*         display: inline; */
/* } */

.phoneText {
        display: inline;
        color:  #7ca714;
}

.phone:hover {
        background-color: #feffee;
}

.itemDescription {
    font-size: 0;
    background: #fffccc;
    padding: 0.5em;
    font-weight: 100;
    font-family: 'Old Standard TT', serif;
    text-transform: unset;
}
