{{define "chart"}}
  <div class="chartItemA">Pre-consultation</div>
  <div class="chartItemA">Full-consultation</div>
  <div class="chartItemA">Product Planning & design</div>
  <div class="chartItemA">Product Development & Deployment</div>
  <div class="chartItemA">Product Management</div>
{{end}}
