{{define "chart"}}
  <div class="chartItemA" id="chartItemA">Pre-consultation<div class="price">$0.00</div></div>
  <div class="chartItemA">Full-consultation<div class="price">$300.00</div></div>
  <div class="chartItemA">Product Planning & design<div class="price">$250.00 - $5000.00</div></div>
  <div class="chartItemA">Product Development & Deployment<div class="price">$250.00 - ?</div></div>
  <div class="chartItemA">Product Management<div class="price">$TBD</div></div>
  <script type="text/javascript">
        items = document.getElementsByClassName("chartItemA");
        spacerWidth = document.getElementById("spacer").offsetWidth/2
        for (i=0; i < items.length; i++) {
           items[i].style.marginLeft = (spacerWidth - (items[i].offsetWidth/2));
        }

        function isInViewPort(element) {
            // Get the bounding client rectangle position in the viewport
            var bounding = element.getBoundingClientRect();

            // Checking part. Here the code checks if it's *fully* visible
            // Edit this part if you just want a partial visibility
            if (
                bounding.top <= window.innerHeight/2 &&
                bounding.left >= 0 &&
                bounding.right <= (window.innerWidth || document.documentElement.clientWidth) &&
                bounding.bottom <= (window.innerHeight || document.documentElement.clientHeight)
            ) {
                console.log('In the viewport! :)');
                return true;
            } else {
                console.log('Not in the viewport. :(');
                return false;
            }
        }

        window.addEventListener('scroll', function (event) {
            elms = document.getElementsByClassName("chartItemA")
            for (let elm of elms) {
                    if (isInViewPort(elm)) {
                        for (i=0;i<=10;i++) {
                         // update the element display
                         elm.style.height = i + "em";
                        }
                    } else {
                        for (i=10;i>=1;i--) {
                          elm.style.height = i + "em";
                          if (i == 1) {
                            elm.style.height = "unset";
                          }
                        }
                    }
                    }
        }, false);
  </script>
{{end}}
