{{ define "contact" }}                                                          
  <div class="contact">                                                         
    <form>                                                                      
      <input class="emailInput" id="emailInput" placeholder="e-mail" name="email" type="email" />
      <textarea class="messageArea" id="messageArea" placeholder="Project Description and Budget"></textarea>
      <div class="sendButt" id="sendButt" onClick="sendMail()">Send</div>                                    
    </form>                                                                     
  </div>                                                                        
{{end}}                                                                         

