{{define "data"}}
        <h3 class="ossHead">Data Analysis</h3> 
                        <p>
                          Data analysis is the process of analyzing and 
                          transforming data. TSConsulting can help your company 
                          create tools that pull data from digital sources, 
                          analyze it, and perform operations on it. This type 
                          of tooling can be used to keep track of statistics 
                          that can change how your company performs and help 
                          you create  more profits. We can help you implement 
                          algorithms for trading stocks or crypto, bots to 
                          track data on the web, and anything else you can 
                          think of.
                        </p>

                        <p>
                          Contact us today for a free consultation and see if
                          TSConsulting is the right fit for you.
                        </p>
{{end}}
