{{define "footer"}}
  <div class="footer">
          <div class="leftFoot">
                  <span class="leftFootHead">Part of the TeleSoft Network</span>
                  <ul>
                          <li>GitHub</li>
                          <li>TeleSoft</li>
                          <li>TagMachine</li>
                          <li>GitLab</li>
                          <li>Coming soon</li>
                  </ul>
          </div>
          <div class="rightFoot">
                  <span class="rightFootHead">Part of the TeleSoft Network</span>
                  <ul>
                          <li>GitHub</li>
                          <li>TeleSoft</li>
                          <li>TagMachine</li>
                          <li>GitLab</li>
                          <li>Coming soon</li>
                  </ul>

          </div>
          <div class="middleFoot">☯</div>
  </div>
  <div class="underfoot"></div>
  <div class="underfoot"></div>
  <div class="underfoot"></div>
  <div class="underfoot"></div>
{{end}}
