{{define "footer"}}
  <div class="footer">
          <div class="leftFoot">
                  <span class="leftFootHead">Part of the TeleSoft Network</span>
                  <ul>
                          <li><a href="https://github.com/TS-Consulting">GitHub</a></li>
                          <li><a href="https://telesoft.network/">TeleSoft</a></li>
                          <li><a href="https://tagmachine.telesoft.network/">TagMachine</a></li>
                          <li><a href="https://gitlab.com/ts-consulting">GitLab</a></li>
                          <li><a href="">Coming soon</a></li>
                  </ul>
          </div>
          <div class="rightFoot">
                  <!-- <span class="rightFootHead">テレソフトネットワークの一部</span> -->
                  <span class="rightFootHead">TSConsultingEngineer@gmail.com</span>
                  <ul>
                          <li>
                          <img class="leaf" src="../public/assets/leaves.png" alt="leaves">
                          </li>
                          <li><b>CREATING A BETTER WORLD</b></li>
                 </ul>

          </div>
          <div class="middleFoot">☯</div>
  </div>
  <!-- <div class="underfoot"></div> -->
  <!-- <div class="underfoot"></div> -->
  <!-- <div class="underfoot"></div> -->
  <!-- <div class="underfoot"></div> -->
{{end}}
