{{define "footer"}}
  <div class="footer">
          <div class="leftFoot">
                  <span class="leftFootHead">Part of the TeleSoft Network</span>
                  test
          </div>
          <div class="middleFoot">☯</div>
          <div class="rightFoot">
                  <span class="rightFootHead"></span>
                  test
          </div>
  </div>
{{end}}
