{{define "phone"}}
        <h3 class="ossHead">Contact</h3> 
        <a href="tel:681-222-5982"><div class="phone">
                <span class="phoneText">Call or Text: 681 222 5982</span>
        </div></a>
        <!-- <a href="sms://+16812225982">Send a SMS</a> -->
{{end}}
