{{define "phone"}}
        <h3 class="ossHead">Contact</h3> 
        <a href="tel:904-698-0295"><div class="phone">
                <span class="phoneText">Call or Text: 904 698 0295</span>
        </div></a>
        <!-- <a href="sms://+19046980295">Send a SMS</a> -->
{{end}}
