{{ define "purpose" }}
                <div class="summary">
                   <h3 class="summaryHead">Purpose</h3> 
                   TSConsulting can design and build advanced web and cloud 
                   applications, including specialized applications for 
                   businesses and organizations. Our services include:
                   <ul>
                           <li>Product consultation and design</li>
                           <li>Product development, deployment, and management</li>
                           <li>Microservices, advanced web applications, business software integrations</li>
                           <li>Financial integrations such as stock bots and trend detection services</li>
                           <li>Social media bots</li>
                           <li>Linux/Unix/Cloud management</li>
                           <li>Continuous Integration and Development</li>
                           <li>Data scraping and analysis</li>
                           <li>Infrastructure and task automation</li>
                           <li>REST API's and http(s) servers</li>
                           <li>Database design and administration</li>
                           <li>Security assessments</li>
                           <li>Product marketing services</li>
                   </ul>
                        <p>
                   Does your business need an advanced website or data analysis 
                   tools? Are you trying to develop a new product but need help
                   designing the software? Does your business need to integrate 
                   data from multiple sources? Could you increase your profits 
                   if you automated certain tasks or if you had a program that 
                   alerted you and your company when certain data changed? 
                        </p>

                        <p>
                   TSConsulting can help your company design and build products 
                   that can streamline your process and increase your 
                   businesses profits.
                        </p>
                </div>
                <p></p>
                <p></p>
{{ end }} 
