{{define "security"}}
                <h3 class="ossHead">Security Audits</h3> 
                <p>
                At TSConsulting we prioritize security above all else. Even if 
                you've already had an application written, TSConsulting can 
                audit it and your applications environment for you. This could 
                include your programs API and external connections, the 
                infrastructure you're deploying your app on, or any other 
                surface area your app covers. If you're unsure of the safety of
                your software and think you need a third party to review it, 
                TSConsulting can help you and give you peace of mind.
                </p>
                <p>
                Call today and ask about our special security 
                auditing rates. 
                </p>
{{end}}
