{{define "security"}}
                <h3 class="ossHead">Security Audits</h3> 
                <p>
                At TSConsulting we prioritize security above all else. Even if 
                you've already had an application written, TSConsulting can 
                audit it and your environment for you. This could include your 
                programs API and external connections, the infrastructure 
                you're deploying your app on, or any other surface area your 
                app covers.
                </p>
                <p>
                Call today and ask about our special security 
                auditing rates. 
                </p>
{{end}}
